<!DOCTYPE html>
<html>
<head>
	<title>Sign In</title>
	<script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
	<link type="text/css" rel="stylesheet" href="signin.css">
</head>
<body>
<div id="signin">
	<h2>Sign In</h2>
	<form v-on:submit.prevent="succ">
		<table>
			<tr>
				<td class="signup-label">Username</td>
				<td><input v-model="username" type="text" name="username" placeholder="3~20 alphanum"></td>
				<td class="signup-error">{{ usernameError }}</td>
			</tr>
			<tr>
				<td class="signup-label">Password</td>
				<td><input v-model="password" type="password" name="password" placeholder="3~20 characters"></td>
				<td class="signup-error">{{ passwordError }}</td>
			</tr>
		</table><br><br>
		<input v-if="showSubmit" type="submit">
	</form>
</div>
</body>
<script src="./signin.js"></script>
</html>
