<!DOCTYPE html>
<html>
	<head>
		<title>FizzBuzz</title>
		<!--<script src="https://unpkg.com/vue@latest/dist/vue.js"></script>-->
		<script src="./static/vue.js"></script>
	</head>
	<body>
		<button><a href="/">Home</a></button><br><br>
		<div id="fizzbuzz">
			<form v-on:submit.prevent="getFB">
				<input v-model="num">
				<input type="submit" value="Enter">
			</form>
			<ol v-if="FB">
				<li v-for="fb in FB">{{ fb }}</li>
			</ol>
		</div>
	</body>
	<script src="./static/fizzbuzz.js"></script>
</html>