<!DOCTYPE html>
<html>
<head>
	<title>ROT 13</title>
	<!--<script src="https://unpkg.com/vue@latest/dist/vue.js"></script>-->
	<script src="./static/vue.js"></script>
	<link type="text/css" rel="stylesheet" href="./static/rot13.css">
</head>
<body>
	<button><a href="/">Home</a></button><br><br>
	<div class="rot13-description">According to <a href="https://en.wikipedia.org/wiki/ROT13">Wikipedia</a>, ROT13 ("rotate by 13 places", sometimes hyphenated ROT-13) is a simple letter substitution cipher that replaces a letter with the 13th letter after it, in the alphabet. ROT13 is a special case of the Caesar cipher, developed in ancient Rome.</div>
	<div id="rot13">
		<h2>Your text:</h2>
		<textarea v-model="text" class="rot13-textarea"></textarea>
		<h2>Encoded text:</h2>
		<p class="rot13-encoded">{{ encoded }}</p>
	</div>
</body>
<script src="./static/rot13.js"></script>
</html>
