<!DOCTYPE html>
<html>
<head>
		<title>NBA</title>
		<link rel="stylesheet" href="/static/nba/nba.css" >
		<script src="/static/vue.js"></script>
		<script src="/static/axios.js"></script>
</head>

<script type="text/x-template" id="polygraph-template">
	<g>
		<polygon v-bind:points="rankPoints"></polygon>
	</g>
</script>

<script type="text/x-template" id="polygraph-base-template">
	<g>
		<polygon v-bind:points="base1" class="base"></polygon>
		<polygon v-bind:points="base2" class="base"></polygon>
		<polygon v-bind:points="base3" class="base"></polygon>
		<polygon v-bind:points="base4" class="base"></polygon>
		<polygon v-bind:points="axis" class="base"></polygon>
	</g>
</script>

<script type="text/x-template" id="axis-label-template">
	<text v-bind:x="label.x" v-bind:y="label.y">{{ label.name }}</text>
</script>

<body>
	<div id="nba">
		<h1>NBA statistics</h1>

		<div class="nba-container">
			<div class="east-container">
				<div class="east-head"><h2>东部联盟</h2></div>
				<div class="east-table">
					<table>
						<thead>
							<tr>
								<th>东南赛区</th>
								<th>中部赛区</th>
								<th>大西洋赛区</th>
							</tr>
						</thead>
						<tbody v-if="teamList">
							<tr v-for="row in 5">
								<td v-for="col in 3">
									<a v-bind:href="getTeamHomepage('east', col, row)">
										<img v-bind:src="getTeamLogo('east', col, row)" width="60">
										<span v-on:mouseover="setCurId('east', col, row)">{{ getTeamName('east', col, row) }}</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="west-container">
				<div class="west-head"><h2>西部联盟</h2></div>
				<div class="west-table">
					<table>
						<thead>
							<tr>
								<th>太平洋赛区</th>
								<th>西北赛区</th>
								<th>西南赛区</th>
							</tr>
						</thead>
						<tbody v-if="teamList">
							<tr v-for="row in 5">
								<td v-for="col in 3">
									<a v-bind:href="getTeamHomepage('west', col, row)">
										<img v-bind:src="getTeamLogo('west', col, row)" width="60">
										<span v-on:mouseover="setCurId('west', col, row)">{{ getTeamName('west', col, row) }}</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="chart-container" v-if="teamList">
			<div></div>
			<div class="tooltip">
				<svg width="300" height="300">
					<polygraph v-if="curId" v-bind:id="curId"></polygraph>
					<polygraph-base></polygraph-base>
					<axis-label v-for="(label, index) in labelList" v-bind:label="label" v-bind:key="index"></axis-label>
				</svg>
				<span class="tooltiptext">{{ tooltipText }}</span>
			</div>
			<div></div>
		</div>

	</div>
</body>
<script src="/static/nba/nba.js"></script>
</html>
