<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="./static/style.css">
</head>
<body>
	<div>

<!-- template for the polygraph component. -->
<script type="text/x-template" id="polygraph-template">
	<g>
		<polygon :points="points"></polygon>
		<polygon :points="base1" class="base"></polygon>
		<polygon :points="base2" class="base"></polygon>
		<polygon :points="base3" class="base"></polygon>
		<polygon :points="base4" class="base"></polygon>
		<polygon :points="axis" class="base"></polygon>
		<!-- <circle cx="100" cy="100" r="80"></circle>
		<circle cx="100" cy="100" r="60"></circle>
		<circle cx="100" cy="100" r="40"></circle>
		<circle cx="100" cy="100" r="20"></circle>
		<circle cx="100" cy="100" r="0"></circle> -->
		<axis-label
			v-for="(stat, index) in stats"
			:stat="stat"
			:index="index"
			:total="stats.length">
		</axis-label>
	</g>
</script>

<!-- template for the axis label component. -->
<script type="text/x-template" id="axis-label-template">
	<text :x="point.x" :y="point.y">{{stat.label}}</text>
</script>

<!-- demo root element -->
<div id="demo">
	<!-- Use the component -->
	<svg width="200" height="200">
		<polygraph :stats="stats"></polygraph>
	</svg>
	<!-- controls -->
	<div v-for="stat in stats">
		<label>{{stat.label}}</label>
		<input type="range" v-model="stat.value" min="0" max="100">
		<span>{{stat.value}}</span>
		<button @click="remove(stat)" class="remove">X</button>
	</div>
	<form id="add">
		<input name="newlabel" v-model="newLabel">
		<button @click="add">Add a Stat</button>
	</form>
	<pre id="raw">{{ stats }}</pre>
</div>

<p style="font-size:12px">* input[type="range"] requires IE10 or above.</p>

	</div>
	<script src="./app.js"></script>
</body>
</html>