<!DOCTYPE html>
<html>
	<head>
		<title>NBA</title>
		<link rel="stylesheet" href="./static/style.css" >
		<!-- <script src="https://unpkg.com/vue/dist/vue.min.js"></script> -->
		<script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
		<script type="text/x-template" id="polygraph-template">
			<g>
				<polygon :points="points"></polygon>
				<polygon :points="base1" class="base"></polygon>
				<polygon :points="base2" class="base"></polygon>
				<polygon :points="base3" class="base"></polygon>
				<polygon :points="base4" class="base"></polygon>
				<polygon :points="axis" class="base"></polygon>
				<axis-label v-for="(stat, index) in stats"
													:stat="stat"
													:index="index"
													:key="index"
				></axis-label>
			</g>
		</script>
		<!-- template for the axis label component. -->
		<script type="text/x-template" id="axis-label-template">
			<text :x="point.x" :y="point.y">{{stat.label}}</text>
		</script>
	</head>
	<body>
		<div id="app">
			<h1>NBA statistics</h1>
			<div class="nba-container">
				<div class="east-container">
					<div class="east-head"><h2>东部联盟</h2></div>
					<div class="east-table">
						<table>
							<thead>
								<tr>
									<th>东南赛区</th>
									<th>中部赛区</th>
									<th>大西洋赛区</th>
								</tr>
							</thead>
							<tbody v-if="teams_east">
								<tr v-for="ix in range">
									<td v-for="region in eastRegions">
											<img v-bind:src="teams_east[region][ix]['teamId'] | getImage" width="60">
											<span>{{ teams_east[region][ix]['name'] }}</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="west-container">
					<div class="west-head">
						<h2>西部联盟</h2>
					</div>
					<div class="west-table">
						<table>
							<thead>
								<tr>
									<th>太平洋赛区</th>
									<th>西北赛区</th>
									<th>西南赛区</th>
								</tr>
							</thead>
							<tbody v-if="teams_west">
								<tr v-for="ix in range">
									<td v-for="region in westRegions">
										<a v-bind:href="teams_west[region][ix]['teamId'] | getTeamPage">
											<img v-bind:src="teams_west[region][ix]['teamId'] | getImage" width="60">
											<span v-on:mouseover="getChart('west', region, ix+1)">{{ teams_west[region][ix]['name'] }}</span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="chart-container">
				<div></div>
				<div class="tooltip">
					<svg v-if="stats" width="300" height="300">
						<polygraph :stats="stats" ></polygraph>
					</svg>
					<span class="tooltiptext">{{ rankInfo }}</span>
				</div>
				<div></div>
			</div>
		</div>
		<script src="app.js"></script>
	</body>

</html>
