<!DOCTYPE html>
<html>
	<head>
		<title>NBA</title>
		<link rel="stylesheet" href="./static/style.css" >
		<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	</head>
	<body>
		<div id="app">
			<h1>NBA statistics</h1>
			<div class="nba-container">
				<div class="east-container">
					<div class="east-head"><h2>东部联盟</h2></div>
					<div class="east-table">
						<table>
							<thead>
								<tr>
									<th>东南赛区</th>
									<th>中部赛区</th>
									<th>大西洋赛区</th>
								</tr>
							</thead>
							<tbody v-if="teams_east">
								<tr v-for="ix in range">
									<td v-for="region in eastRegions">
											<img v-bind:src="teams_east[region][ix]['teamId'] | getImage" width="60">
											<span>{{ teams_east[region][ix]['name'] }}</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="west-container">
					<div class="west-head">
						<h2>西部联盟</h2>
					</div>
					<div class="west-table">
						<table>
							<thead>
								<tr>
									<th>太平洋赛区</th>
									<th>西北赛区</th>
									<th>西南赛区</th>
								</tr>
							</thead>
							<tbody v-if="teams_west">
								<tr v-for="ix in range">
									<td v-for="region in westRegions">
										<img v-bind:src="teams_west[region][ix]['teamId'] | getImage" width="60">
										<span>{{ teams_west[region][ix]['name'] }}</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script src="app.js"></script>
	</body>

</html>
