<!doctype html>
<html>
	<head>
		<title>Chris</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/index/index.css">
		<link rel="shortcut icon" href="/static/favicon.ico">
		<link rel="stylesheet" href="/static/fa.css">
	</head>

<body>
	<div class="container" id="headers">
		<header class="blog-header py-3 row justify-content-between">

			<div class="col-md-auto">
				<a href="/"><i class="fas fa-home fa-2x"></i></a>
			</div><!-- col-md-auto -->

			<div class="col">
				<nav class="nav justify-content-center">
					<a class="nav-link" href="/blog">Blog</a>
					<a class="nav-link" href="/nba">NBA</a>
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">MineSweeper</a>
						<a class="dropdown-item" href="#">FB</a>
					</div><!-- dropdown-menu -->
				</nav><!-- nav -->
			</div>

			<div id="user-modal" class="col-md-auto" >
				<div class="dropdown">
					<i class="fas fa-user fa-2x" data-toggle="dropdown" id="icon-user"></i>
					<div class="dropdown-menu">
						<button type="button" class="dropdown-item btn btn-link" data-toggle="modal" data-target="#signinModal">Sign In</button>
						<a href="/signup" class="dropdown-item btn btn-link">Sign Up</a>
					</div><!-- dropdown-menu -->
				</div><!-- dropdown -->
			</div><!-- user-modal col-md-auto -->


			<div class="modal fade" id="signinModal">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
							<button type="button" class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
						</div><!-- modal-header -->
						<div class="modal-body">
							<table class="table">
								<tr>
									<td>username</td>
									<td>
										<input class="form-control" placeholder="Enter email">
									</td>
								</tr>
								<tr>
									<td>Password</td>
									<td>
										<input type="password" class="form-control" placeholder="Password">
									</td>
								</tr>
							</table>
						</div><!-- modal-body -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Submit</button>
						</div><!-- modal-footer -->
					</div><!-- modal-content -->
				</div><!-- modal-dialog -->
			</div><!-- signinModal -->

		</header><!-- header -->

		<div class="jumbotron jumbotron-fluid">
		</div><!-- jumbotron -->
	</div><!-- class="container" id="headers" -->


	<main id="vindex" role="main" class="container">
		<div class="row" id="news-src">
			<div class="col">
				<div id="news-source">
					<ul class="nav nav-pills justify-content-center">
						<li class="nav-item">
							<a class="nav-link active" href="#pill-ReadHub" data-toggle="pill" v-on:click="switchNewsSrc(1)">
								ReadHub
							</a>
						</li><!-- nav-item -->
						<li class="nav-item">
							<a class="nav-link" href="#pill-36Kr" data-toggle="pill" v-on:click="switchNewsSrc(2)">
								36Kr News
							</a>
						</li><!-- nav-item -->
					</ul><!-- nav nav-pills -->
				</div><!-- news-source -->
			</div><!-- col -->
		</div><!-- row -->

		<div class="row">
			<div class="col-md-10 blog-main">
				<div id="accordion">
					<div id="news-item" v-if="newsList" v-for="(news, key) in newsList" v-bind:key="key">
						<div class="card">
							<div class="card-header" data-toggle="collapse" v-bind:data-target="'#'+key" style="cursor: pointer">
								<div class="row justify-content-between">
									<h2 class="col-md-auto blog-post-title">
										{{ news.subject }}
									</h2>
									<p class="col-md-auto blog-post-meta">{{ news.date | calcTimeLag }}</p>
								</div><!-- row -->
							</div><!-- card-header -->
							<div class="collapse" v-bind:id="key" data-parent="#accordion">
								<p class="card-body">{{ news.content }}</p>
							</div>
						</div><!-- card -->
					</div><!-- news-area newlist -->
				</div><!-- accordion -->


				<nav class="blog-pagination">
					<button type="button" v-on:click="goPrev()" class="btn btn-outline-primary" v-bind:class="{ disabled: frontend }">{{ prevPage() }}</button>
					<button type="button" v-on:click="goNext()" class="btn btn-outline-primary" v-bind:class="{ disabled: backend }">{{ nextPage() }}</button>
				</nav><!-- nav pagination -->

				<!-- <button >Top</button> -->
				<i class="fas fa-angle-up fa-2x" id="go-to-top" title="Go to top" v-on:click="goToTop"></i>
			</div><!-- blog-main -->
		</div><!-- div-row -->
	</main><!-- main -->



	<footer class="blog-footer">
		<p>
			<a href="https://github.com/jJayyyyyyy"><i class="fab fa-github fa-2x" style="color:black;"></i></a>
		</p>
		<p>
			Thanks <i class="fas fa-heart" style="color:Tomato; "></i>
			<a href="https://getbootstrap.com/" style="color:#563d7c">Bootstrap</a>
			<a href="https://vuejs.org/" style="color:#4fc08d">Vue.js</a>
			<a href="https://github.com/axios/axios" style="color:#fe7c38">axios</a>
			<a href="https://fontawesome.com/" style="color:#228ae6">FontAwesome</a>
		</p>
	</footer><!-- footer -->
</body>

<script src="/static/vue.js"></script>
<script src="/static/axios.js"></script>
<script src="/static/index/index.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="/static/jquery-3.2.1.slim.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<script src="/static/popper.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
<script src="/static/bootstrap.min.js"></script>

</html>