<!doctype html>
<html>
<head>
	<title>New Post</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<link rel="stylesheet" href="/static/fa.css">
	<link type="text/css" rel="stylesheet" href="/static/blog/new/new.css">
</head>

<body>
	<div class="container" id="headers">
		<header class="blog-header py-3 row">

			<div id="home-icon" class="col text-left">
				<a href="/"><i class="fas fa-home fa-2x"></i></a>
			</div>

			<div id="dropdown-menu" class="col text-right" >
				<div class="dropdown">
					<i class="fas fa-bars fa-2x" data-toggle="dropdown" id="icon-user"></i>
					<div class="dropdown-menu">
						<a href="/blog" class="btn dropdown-item">Blog</a>
						<a href="/nba" class="btn dropdown-item">NBA</a>

						<button class="btn dropdown-item dropdown-toggle" data-toggle="dropdown">Games</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">MineSweeper</a>
							<a class="dropdown-item" href="#">FB</a>
						</div>

					</div>
				</div>
			</div><!-- dropdown-menu col text-right -->

		</header>

		<div class="col text-center">
			<div id="new-post-logo">新的文章</div>
		</div>
	</div><!-- class="container" id="headers" -->

	<main id="editor" class="container">

		<div id="blog-post-subject" class="row" >
			<div class="col">
				<input name="subject" class="form-control" placeholder="标题" v-model="subject">
			</div>
		</div>

		<div id="blog-post-content" class="row">
			<div class="col">
				<textarea class="form-control" name="content" v-model="content" placeholder="内容" v-model="content"></textarea>
			</div>
		</div>

		<div id="blog-post-footer" class="row">
			<div class="col text-right">
				<a href="/blog" class="btn btn-secondary">返回</a>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal" v-on:click="submit">提交</button>
			</div>
		</div>

		<div v-if="showModal()" class="modal fade" id="infoModal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header"></div>
					<div class="modal-body text-center">
						<h3>标题和内容要写完整~</h3>
					</div>
					<div class="modal-footer text-right">
						<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div><!-- infoModal -->

	</main><!-- main - editor -->
</body>
<script src="/static/vue.js"></script>
<script src="/static/axios.js"></script>
<script src="/static/blog/new/new.js"></script>
<script src="/static/jquery-3.2.1.slim.min.js"></script>
<script src="/static/popper.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</html>