{% extends "layout.html" %}

{% block title %}Post {{ post.id }}{% endblock %}

{% block body %}
<div id="content">
	<div class="post">
		<div class="post-heading">
			<a href="/blog/{{ post.post_id }}" class="post-subject">{{ post.post_subject }}</a>
			<div class="post-date">{{ post.post_date }}</div>
		</div>
		<div class="post-content">{{ post.post_content }}</div>
	</div>
	<div>
		<br><br>
		<button><a href="/blog/edit/{{ post.post_id }}">Edit this post</a></button>
	</div>
</div>
{% endblock %}